name: Autoroll

on:
  schedule:
    - cron:  '0 10 * * *'
  workflow_dispatch:
  push:
    branches: [autoroll]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - name: Setup Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.password ${{ github.token }}
          git config --global url."https://${{ github.actor }}:${{ github.token }}@github.com/".insteadOf "https://github.com/"
      - run: deno run -A ./autoroll.ts
